@{
    ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Paige Scott</h1>
        <h2>Full Stack Software Developer in Overland Park Kansas</h2>
        <a asp-controller="Home" asp-action="About" class="btn-about">About me</a>
    </div>
</section><!-- End Hero -->
