@{
    ViewData["Title"] = "Services";
}



    <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Links</h2>
                    <p>My Centriq classmates and their personal sites. (styling still needed) </p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/Brit.jpg" width="100" height="100" viewBox="0 0 600 600">
                            </div>
                            <h4><a href="">Brittany Dodd</a></h4>
                            <p>https://www.BrittanyDodd.net</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/casey.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>

                            </div>
                            <h4><a href="">Casey Brown</a></h4>
                            <p>https://www.SomethingCachey.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Dawson Meier</a></h4>
                            <p>https://www.DawsonMeierDev.net</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-yellow">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Devin Kuhlman</a></h4>
                            <p>No site</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-red">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Dylan Pool</a></h4>
                            <p>https://www.DylanPoole.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Jacquelyn Little</a></h4>
                            <p>https://www.JacquelynLittle.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/john.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">John Walls</a></h4>
                            <p>https://www.JPWalls.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Juno Lewis</a></h4>
                            <p>https://www.JLewisInquiry.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/sean.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Sean Coyan</a></h4>
                            <p>https://www.SeanCoyan.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/kurtis.jpeg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Kurtis Caldwell</a></h4>
                            <p>https://www.KurtisCaldwell.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/storm.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Storm Agnew</a></h4>
                            <p>https://www.StormyCoding.com</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/tanner.JPG" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Tanner Lampson</a></h4>
                            <p>https://www.TannerMatthew.dev</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/zach.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Zach Barkoviak</a></h4>
                            <p>https://www.ZachBarkoviak.com</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->
   