@{
    ViewData["Title"] = "Services";
}



    <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Links</h2>
                    <p>My Centriq classmates and their personal sites.  </p>
                    <p>Docs I found useful at the bottom of the page </p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Brittany.jpg" width="100" height="100" viewBox="0 0 600 600">
                            </svg>
                            </div>
                            <h4><a href="">Brittany Dodd</a></h4>
                        <p><a href="http://www.BrittanyDodd.net">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Casey.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Casey Brown</a></h4>
                        <p><a href="http://www.SomethingCachey.com">Link to thier personal website</a></p>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Dawson.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Dawson Meier</a></h4>
                        <p><a href="http://www.DawsonMeierDev.net">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-yellow">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Devin.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Devin Kuhlman</a></h4>
                        <p><a href="http://www.DevinKuhlman.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-red">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Dylan.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Dylan Pool</a></h4>
                        <p><a href="http://www.DylanPoole.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Jacquelyn.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Jacquelyn Little</a></h4>
                        <p><a href="http://www.JacquelynLittle.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/John.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">John Walls</a></h4>
                        <p><a href="http://www.JPWalls.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/Juno.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Juno Lewis</a></h4>
                        <p><a href="http://www.JLewisInquiry.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/Sean.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Sean Coyan</a></h4>
                        <p><a href="http://www.SeanCoyan.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/Kurtis.jpeg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Kurtis Caldwell</a></h4>
                        <p><a href="http://www.KurtisCaldwell.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/Storm.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Storm Agnew</a></h4>
                        <p><a href="http://www.StormyCoding.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/tanner.JPG" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Tanner Lampson</a></h4>
                        <p><a href="http://www.TannerMatthew.dev">Link to thier personal website</a></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-teal">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <img src="~/assets/img/linksPhotos/zach.jpg" width="100" height="100" viewBox="0 0 600 600">
                                </svg>
                            </div>
                            <h4><a href="">Zach Barkoviak</a></h4>
                        <p><a href="http://www.ZachBarkoviak.com">Link to thier personal website</a></p>
                        </div>
                    </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-teal">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <img src="~/assets/img/linksPhotos/reactimg.png" width="100" height="100" viewBox="0 0 600 600">
                            </svg>
                        </div>
                        <h4><a href="">React Docs</a></h4>
                        <p><a href="https://reactjs.org/docs/getting-started.html">Link to thier Documentation</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-teal">
                    <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <img src="~/assets/img/linksPhotos/bootstrapimg.png" width="100" height="100" viewBox="0 0 600 600">
                        </svg>
                        </div>
                    <h4><a href="">Bootstrap Docs</a></h4>
                        <p><a href="https://getbootstrap.com/">Link to thier Documentation</a></p>
                    </div>
                </div>

                </div>

            </div>
        </section>

    </main><!-- End #main -->
   