@{
    ViewData["Title"] = "Services";
}

<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>These are snippets of code I wrote myself</p>
            </div>



            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/dungeoncode.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Dungeon App</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/dungeoncode.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="C# .NET Core Console Application">
                                    <i class="bx bx-plus"></i>
                                </a> <p> .NET Core Console Application where the foundational concepts of C# as a language were learned</p>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/3and5.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Multiples of 3 and 5</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/3and5.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="A short brain teaser that supplies the user with multiples of 3 and 5 between 0 and 1000 and then a sum of all multiples is calculated ">
                                    <i class="bx bx-plus"></i>
                                </a><p> A short brain teaser </p>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/50years.JPG" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Linq</h4>
                                <p>C#</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/50years.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Study Materials">
                                        <i class="bx bx-plus"></i>
                                    </a> <p>Books published for more than 50 years</p>
                                    <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/75mil.JPG" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Linq</h4>
                                    <p>C#</p>
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/portfolio/75mil.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Study Materials">
                                            <i class="bx bx-plus"></i>
                                        </a> <p>Books that have sold more than 75 million copies</p>
                                        <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                            <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                <div class="portfolio-wrap">
                                    <img src="~/assets/img/portfolio/Attack.JPG" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>Dungeon</h4>
                                        <p>Console</p>
                                        <div class="portfolio-links">
                                            <a href="~/assets/img/portfolio/Attack.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon">
                                                <i class="bx bx-plus"></i>
                                            </a> <p>In the dungeon app you can attack for damage</p>
                                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                    <div class="portfolio-wrap">
                                        <img src="~/assets/img/portfolio/attackorrun.JPG" class="img-fluid" alt="">
                                        <div class="portfolio-info">
                                            <h4>Dungeon</h4>
                                            <p>C#</p>
                                            <div class="portfolio-links">
                                                <a href="~/assets/img/portfolio/attackorrun.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon">
                                                    <i class="bx bx-plus"></i>
                                                </a> <p>In the dungeon app you can attack or run away</p>
                                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                        <div class="portfolio-wrap">
                                            <img src="~/assets/img/portfolio/dungeoncode.JPG" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Dungeon</h4>
                                                <p>C#</p>
                                                <div class="portfolio-links">
                                                    <a href="~/assets/img/portfolio/dungeoncode.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon">
                                                        <i class="bx bx-plus"></i>
                                                    </a> <p>My dungeon application</p>
                                                    <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                        <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                            <div class="portfolio-wrap">
                                                <img src="~/assets/img/portfolio/hydra.JPG" class="img-fluid" alt="">
                                                <div class="portfolio-info">
                                                    <h4>Dungeon</h4>
                                                    <p>C#</p>
                                                    <div class="portfolio-links">
                                                        <a href="~/assets/img/portfolio/hydra.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon">
                                                            <i class="bx bx-plus"></i>
                                                        </a> <p>View the moster youre fighting</p>
                                                        <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                            <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                                <div class="portfolio-wrap">
                                                    <img src="~/assets/img/portfolio/playerinfo.JPG" class="img-fluid" alt="">
                                                    <div class="portfolio-info">
                                                        <h4>Dungeon</h4>
                                                        <p>C#</p>
                                                        <div class="portfolio-links">
                                                            <a href="~/assets/img/portfolio/playerinfo.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon">
                                                                <i class="bx bx-plus"></i>
                                                            </a> <p>View your player stats</p>
                                                            <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                                <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                                    <div class="portfolio-wrap">
                                                        <img src="~/assets/img/portfolio/props.JPG" class="img-fluid" alt="">
                                                        <div class="portfolio-info">
                                                            <h4>Dungeon</h4>
                                                            <p>C#</p>
                                                            <div class="portfolio-links">
                                                                <a href="~/assets/img/portfolio/props.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Study Materials">
                                                                    <i class="bx bx-plus"></i>
                                                                </a> <p>Books Props</p>
                                                                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                                        <div class="portfolio-wrap">
                                                            <img src="~/assets/img/portfolio/props.JPG" class="img-fluid" alt="">
                                                            <div class="portfolio-info">
                                                                <h4>Dungeon</h4>
                                                                <p>C#</p>
                                                                <div class="portfolio-links">
                                                                    <a href="~/assets/img/portfolio/props.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Study Materials">
                                                                        <i class="bx bx-plus"></i>
                                                                    </a> <p>Books Props</p>
                                                                    <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                                                        <div class="col-lg-4 col-md-6 portfolio-item filter-app dungeon-active">
                                                            <div class="portfolio-wrap">
                                                                <img src="~/assets/img/portfolio/StackQ.JPG" class="img-fluid" alt="">
                                                                <div class="portfolio-info">
                                                                    <h4>Stufy Materials</h4>
                                                                    <p>C#</p>
                                                                    <div class="portfolio-links">
                                                                        <a href="~/assets/img/portfolio/StackQ.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Study Materials">
                                                                            <i class="bx bx-plus"></i>
                                                                        </a> <p>Stack and Queue</p>
                                                                        <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->