@{
    ViewData["Title"] = "Resume";
}



<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title" class="tooltip" title="This is my div's tooltip message!">
                <h2>Resume</h2>
                <p>Previously in the wonderful world of Quality Assurance and now looking forward to being your friendly neighborhood Software Engineer. With many years of experience in the software world I look forward to bringing my strong QA skills and unique experiences to a Full Stack position.  </p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Alice Barkley</h4>
                        <p><em>Creative problem solver, detail oriented, and deadline motivated .Net Full Stack C# Developer with previous C# experience! I strive to be an expert in any software I work in to make the best product possible for the user. </em></p>
                        <p>
                            <ul>
                                <li>Kansas</li>
                                <li><a href="http://readypaigeone.com/">http://readypaigeone.com/ </a> </li>
                                <li>paigescott3@outlook.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item" class="tooltip" title="Centriq">
                        <h4>.Net Full Stack C# Coding Program</h4>
                        <h5>2022</h5>
                        <p><em>Centriq Training</em></p>
                        <p>I went to Centriq to take my skills to the next level and assure my foundational knowledge is rock solid. Here I got to pursue my passion for creating software. In C# I created a Dungeon app that generates a monster  in a room for the user to fight and weapon for the user to fight with that includes a bonus hit chance based on a selected mood of the user. In SQL I created a database for a store that I sells fun tee shirts and used .Net MVC to create an interface in C# for the user to interact with the store front. </p>
                    </div>
                    <div class="resume-item" class="tooltip" title="JCCC">
                        <h4>Exploring Software</h4>
                        <h5>2017 - 2018</h5>
                        <p><em>Johnson County Community College, Overland Park, KS</em></p>
                        <p>After falling in love with software I went into the world to follow my passion and try new things. Here is where I tried my hand at Computer Networking that included TCP/IP basics, wireless networks, and even cables and connectors. I also had a Linux course where I learned a lot about permissions and file structure. Classes like that were interesting, but nothing captured my heart like coding did in my Python class. I've been hooked ever since. </p>
                    </div>
                    <div class="resume-item" class="tooltip" title="MCC">
                        <h4>General Education</h4>
                        <h5>2014 - 2017</h5>
                        <p><em>Metropolitan Community College, Penn Valley, Kansas City, MO</em></p>
                        <p>On a scholarship from A+ I was able to attend MCC for my general education. I explored the world of literature by reading books like, “The Immortal Life of Henrietta Lacks” and dove into equations in Algebra and Calculus. Here is also where I joined an International honors society that volunteered around Kansas city. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item" class="tooltip" title="Wellsky">
                        <h4>Software Quality Assurance Automation Engineer</h4>
                        <h5>December 2020 - August 2022</h5>
                        <p><em>WellSky, Overland Park, KS </em></p>
                        <p>
                            <ul>
                                <li>Facilitated Discussion, decision making, and conflict resolution, across the entire team that includes Solutions Experts, a Tech Lead, Scrum Master and multiple Developers.</li>
                                <li>Lead our teams Quality Plan and furthered discussion across the team to understand feature specs to better develop and review feature test design specs.</li>
                                <li>Worked closely with the Development side and Product Management side to ensure timely and high-quality product releases every 2 weeks</li>
                                <li>Evaluate and manage configurations, builds, and deployment issues for the test environment for the team.</li>
                                <li>Responsible for software maintenance across the automation codebase. Required wide understanding of the internals of the software and systems. Making decisions for the future united as an Automation Team.</li>
                                <li>Implemented new standards and templates for improved bug reporting in JIRA that lead to faster turnaround time for each bug. </li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item" class="tooltip" title="AGI">
                        <h4>Software Quality Assurance Automation Engineer</h4>
                        <h5>March 2020 - December 2020</h5>
                        <p><em>AGI Suretrack, Overland Park, KS</em></p>
                        <p>
                            <ul>
                                <li>Communicated with Internal Stakeholders to create the correct Test Plan for each product.</li>
                                <li>Responsible for software maintenance across the automation codebase that I created. This required deep understanding of the testing needs of each product.</li>

                            </ul>
                        </p>


                    </div>
                    <div class ="resume-item" class="tooltip" title="Resume Download">
                    <h3>To read the rest of my Resume please download it:</h3>
                    <a href="~/assets/PaigeScottResume.pdf" download="Dowmload Resume">
                            <div class="text-center btn-about" >
                                <button class="btn-about" type="submit">Click here to Download</button>
                        </div>
                    </a>
                    </div>
                </div>
            </div>


        </div>




    </section><!-- End Resume Section -->

</main><!-- End #main -->
